/******************************************************************

Stylesheet: Medium Stylesheet

Styles apply to 40.063em and up.

******************************************************************/


	
/*********************
NAVIGATION STYLES
*********************/


/*********************
POSTS & CONTENT STYLES
*********************/

/* entry content */
.entry-content {
			
	
	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
} /* end .entry-content */

/*********************
SIDEBARS & ASIDES
*********************/

.widget {
	padding: 0 10px;
	margin: 2.2em 0;
}

/*********************
FOOTER STYLES
*********************/
	
/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */
			
/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
