/******************************************************************

Stylesheet: 1280px and Up

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
