/**
 * Default WordPress image alignment styles.
 */

.alignleft, img.alignleft { 
	margin-right: 1.5em; 
	display: inline; 
	float: left; 
}

.alignright, img.alignright { 
	margin-left: 1.5em; 
	display: inline; 
	float: right; 
}

.aligncenter, img.aligncenter { 
	margin-right: auto; 
	margin-left: auto; 
	display: block; 
	clear: both; 
}
