/**
 * Default WordPress media styles.
 */

video, object {
	max-width: 100%;
	height: auto;
}

pre {
	background: #eee;
	border: 1px solid #cecece;
	padding: 10px;
}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	& img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	& p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}