/************************************************

Settings

Place colors, text sizes and other gloabl variables here.

*************************************************/

/*********************
COLORS
*********************/
$black: #000;
$white: #fff;


/*********************
BREAKPOINTS
*********************/
$breakpoints: (
  'small':  0px,
  'medium': 640px,
  'large':  1024px,
  'xlarge':  1200px,
  'xxlarge':  1440px
) !default;