/******************************************************************

Stylesheet: Login Stylesheet

This stylesheet is loaded is only on the login page.
Make sure functions/admin.php is activated in your functions.php file.
This stylesheet is turned off by default.

******************************************************************/

body.login {
	
}

#login {
	
}

// Change the login logo
.login h1 a {
	background: url(../images/login-logo.png) no-repeat top center;
	width: 326px;
	height: 67px;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 15px;
	display: block;
}

form {

}

body form .input {

}

// Login Button Style
#wp-submit {
	
}