/**
 * Main navigation styles.
 * 
 */

.main-navigation-wrapper {

   & .main-navigation {
        display: flex; 
        flex-direction: column; 
        list-style: none;
        margin: 0;
        padding: 0;
        
        @media (--medium) {
            flex-direction: row;
        }

       & .menu-item-has-children {
           & > a {
                position: relative;
                &:after {
                    content: "+";
                    right: 5px;
                    position: absolute;
                }
            }
           & .sub-menu {
                display: none;
            }
            &.open > .sub-menu  {
                display: block;
            }
        }

    }
}
