/************************************************

Styles

Import all of your Sass partials here.

*************************************************/
/************************************************

Settings

Place colors, text sizes and other gloabl variables here.

*************************************************/
/*********************
COLORS
*********************/
/*********************
BREAKPOINTS
*********************/
/************************************************

Mixins

*************************************************/
/*********************
RESPONSIVE BREAKPOINTS
*********************/
/************************************************

WordPress Styles

This is where the "default" WordPress styles go.
Such as alignments and other default formatting options.

*************************************************/
/*********************
Typography
*********************/
dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*********************
ALIGNMENT & CONTENT STYLES
*********************/
.alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

video, object {
  max-width: 100%;
  height: auto; }

pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*********************
ACCESSBIBILITY
*********************/
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

/************************************************

Navigation

Responsive, accessible navigation.

*************************************************/
.main-navigation-wrapper .main-navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0; }
  @media (min-width: 640px) {
    .main-navigation-wrapper .main-navigation {
      flex-direction: row; } }
  .main-navigation-wrapper .main-navigation .menu-item-has-children > a {
    position: relative; }
    .main-navigation-wrapper .main-navigation .menu-item-has-children > a:after {
      content: "+";
      right: 5px;
      position: absolute; }
  .main-navigation-wrapper .main-navigation .menu-item-has-children .sub-menu {
    display: none; }
  .main-navigation-wrapper .main-navigation .menu-item-has-children.open > .sub-menu {
    display: block; }

/************************************************

Global

Place generic, global styles here. 

*************************************************/
* {
  box-sizing: border-box; }

a {
  color: yellow; }


/*# sourceMappingURL=theme.css.map*/